<h1>fabric.js</h1>

<p><a href="http://fabricjs.com/">http://fabricjs.com/</a></p>

<p> Main features:</p>

<ul>
    <li>Built in drag and drop capabilities;</li>
    <li>Grouping of items;</li>
    <li>Event listeners;</li>
    <li>touch event support;</li>
    <li>Canvas elements teated as DOM elements;</li>
    <li>PhotoShop-like image filters;</li>
    <li>SVG import.</li>
</ul>


<p>Each of the libraries has its unique USP and Fabrics’s seems to be its built-in drag and drop/draggable-resizing capabilities. Simply by setting a display object’s 'selectable' property to 'true'.</p>

<p>Fabric also has built in animation capabilities with onChange and onComplete Events much like GreenSock's TweenMax.</p>

<p>If you can get past its eye-wateringly ugly website Fabric has a wealth of features. It treats graphic elements as DOM elements allowing individual elements to be animated or to have EventListeners added for, say, mouse Events.</p>

<p>If each library has its niche Fabric's niche seems to be for creating on-line versions of PhotoShop/Illustrator/Paint type apps. There are off-the-shelf tools in there for creating drawing brushes, image filtering and manipulation.</p>

<p>On the down side the line/shape drawing API is cumbersome compared to the other libraries looked at and animating path elements created some unwanted image-noise type artifacts around the path’s edges. The documentation could be more comprehensive too.</p>




<div class="button-holder">
    <button ng-click="setData(data0)" type="button" class="btn btn-xs btn-warning">Data 0</button>
    <button ng-click="setData(data1)" type="button" class="btn btn-xs btn-warning">Data 1</button>
    <button ng-click="setData(data2)" type="button" class="btn btn-xs btn-warning">Data 2</button>
</div>

<div id="chartHolder0"></div>
