<h1>p5.js</h1>


<div class="button-holder">
    <button ng-click="setData(_dataSetXl)" type="button" class="btn btn-xs btn-warning">Standard Test Data</button>
    <button ng-click="setData(_msData)" type="button" class="btn btn-xs btn-warning">FTSE</button>
    <button ng-click="setData(_ftseData)" type="button" class="btn btn-xs btn-warning">Marks and Spencer</button>
    <button ng-click="setData(_msVftse)" type="button" class="btn btn-xs btn-warning">Marks and Spencer + FTSE</button>
</div>

<div id="processDiv"></canvas></div>
